:root {
  --measure: 60ch;
  --brightfg: #B7526A;
  --brightbg: #F8F9BD;
  --dullbg: #E1DCEA;
  --darkbg: #82859B;
  --darkfg: #4F2C4D;
  --sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #555;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Georgia", serif;
}

* {
  max-width: var(--measure);
  box-sizing: border-box;
}

html,
div,
header,
nav,
main,
footer {
  max-width: none;
}

.maindiv {
  background-color: white;
  box-sizing: content-box;
  max-width: var(--measure);
  margin: 0 auto;
  padding: 1.5rem calc(1.5ch * 1.5 * 1.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
.headline,
strong, {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: var(--darkfg);
}

.short-text, {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  max-width: calc(var(--measure) * 1.5);
  background-color: var(--darkbg);
  margin: 0 auto;
}

.headshot {
  max-width: 200px;
}

a {
  text-decoration: none;
  color: var(--brightfg);
  font-family: var(--sans);
  font-weight: bold;
}

