nav {
  text-align: right;
}

.headline {
  font-size: calc(1.5rem * 1.5);
  font-weight: bold;
  line-height: 1.5rem;
  color: var(--darkfg);
}

.navdiv {
  background-color: var(--dullbg);
  padding: 1.5rem 1.5rem;
}

.navbutton {
  display: inline-block;
  border: none;
  padding: 0 calc(4rem / 9); 
  text-align: center;
}

.navbutton > * {
  color: var(--darkfg);
  font-family: var(--sans);
}

.current {
  background-color: var(--brightbg);
  padding: calc(2em / 3) calc(2em / 3);
}

