.sidebar-l > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem / 2 * -1);
}

.sidebar-l > * > * {
  margin: calc(1rem / 2);
  flex-grow: 1;
}

.sidebar-l > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);

}.sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem / 2 * -1);
}

.sidebar > * > * {
  margin: calc(1rem / 2);
  flex-grow: 1;
}

.sidebar > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

